#description-close:hover {
  cursor: pointer;
}

#indication {
	font-family: "Century Gothic";
	font-size: 14px;
}

#indication-title {
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: bold;
}

#description {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  overflow: auto;
}

#title-description-section1 {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 13px;
	color: #ff9933;
	float: left;
	font-weight: bold;
}

#description-section1 {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 13px;
	color: black;
	float: right;
}

#title-description-section2 {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 13px;
	color: #ff9933;
	float: left;
	font-weight: bold;
}

#description-section2 {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 13px;
	text-align: center;
	color: black;
	float: right;
}

#title-description-section3 {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 13px;
	color: #ff9933;
	float: left;
	font-weight: bold;
	line-height: 68px;
}

#description-section3-container {
	text-align: right;
	float: right;
}

#description-section3 {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 13px;
	text-align: center;
	color: black;
}

#description-section3-image {
	margin: 10px;
	width: 60px;
	height: 60px;
	margin-bottom: -8px;
}

.description-section4-img-owner {
	width: 70px;
	height: 70px;
}

.description-section4-line {
	line-height: 35px;
}

.description-section4-img {
	float: left;
	margin: 10px;
	width: 35px;
	height: 35px;
}

.description-section4-border {
	background-color: grey;
	height: 1px;
	margin: 20px;
}

.description-section4-owner-name {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 14px;
	color: #ff9933;
	font-weight: bold;
	text-align: center;
}

.description-section4-model {
	float: left;
	margin: 10px;
}

.description-section4-quantity {
	float: right;
	margin : 10px;
}

#description-zone-title {
	
	background-color: #ee8822;
	height: 40px;
	line-height: 40px;
}

#description-zone-title img {
	width: 40px;
	height: 40px;
	float: right;
}

#description-title {
	font-family: "Century Gothic";
	font-size: 18px;
	text-align: center;
	color: white;
}

#description-subtitle {
	margin: 10px;
	font-family: "Century Gothic";
	font-size: 15px;
	text-align: center;
	color: black;
}

