<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Empirium Studio</title>
    <meta name="description" content="Empirium Studio is a user-friendly tool for maps navigation, ships visualisation and data sharing for Empirium Game"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href="{{ url_for('static', filename='Flat-UI/dist/css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <!-- TODO: Changer favicon-->
    <!--<link rel="shortcut icon" href="Flat-UI/img/favicon.ico">-->

  </head>
  <body>
    <div id="mycontainer">
		
		<img id="wallpaper" src="{{ url_for('static', filename='images/wallpapers/wallpaper2.jpeg') }}">
	
		<div id="map"></div>

		<div id="main-screen">
			<div id="auth-container">
				<div>
					<p id="indication-title">Identification</p>
					<p id="indication">Entrez vos identifiants Empirium pour vous connecter.<br><br></p>
				</div>
				<div id="authent-part">
					<div class="form-group">
						<input id="player" type="text" value="" placeholder="Joueur" autofocus="autofocus" class="form-control"/>
					</div>
					<div class="form-group">
						<input id="password" type="password" value="" placeholder="Mot de passe" class="form-control" />
					</div>
					<div>
					  	<button id="button-connection" class="btn btn-block btn-default">Connexion</a>
					</div>
				</div>
				<div>
					<img id="loading" src="{{ url_for('static', filename='images/loading.gif') }}">
					<img id="success" src="{{ url_for('static', filename='images/success.gif') }}">
					<img id="fail"	  src="{{ url_for('static', filename='images/fail.png') }}">
				</div>
			</div>
		</div>

		<div id="barre-menu">
			<div><img id="icon-map" src=""></div>
			<div><img id="icon-alliance" src=""><div>
			<div><img id="icon-technology" src=""></div>
			<div><img id="icon-stats" src=""></div>
			<div><img id="icon-exit" src=""></div>
		</div>

		<div id="description">
	
			<!-- TODO: replace "18" par percentage of window size -->	
			<img id="description-close" src="{{ url_for('static', filename='images/close.png') }}" width=18 height=18>

			<br>

			<p id="description-title"></p>

			<p id="description-subtitle"></p>

			<center><img id="description-image" src="" width=100 height=100></center>

			<br>

			<p id="description-section1"></p>

			<p id="description-section2"></p>

		</div>
	
	</div>

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='pixi.js') }}"></script>
    <script src="{{ url_for('static', filename='Flat-UI/dist/js/flat-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Flat-UI/docs/assets/js/application.js') }}"></script>
    <script src="{{ url_for('static', filename='client.conf') }}"></script>
    <script src="{{ url_for('static', filename='md5.js') }}"></script>
    <script src="{{ url_for('static', filename='global.js') }}"></script>
    <script src="{{ url_for('static', filename='model.js') }}"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>

  </body>
</html>
