body {
	overflow: hidden
}

.input-container
{
	border-width: 2px;
 	border-style: solid;
 	border-color: #e6e6e6;
	width: 255;
	height: 668;
	float: right;
        top:0;
	left:0;
	background-color: #f0f0f0;
	z-index:1;
	position:relative;
}

#input-title
{
	color: black;
	font-size: 22;
	font-family: "Verdana", sans-serif;
}

.input
{
	color: grey;
	width: 15em;
	height: 3em;
	font-family: "Verdana", sans-serif;
	position:relative;
	top:8;
}

#input-connexion
{
	background-color: #4b8efa;
	color: white;
	font-weight: bold;
	border-style: solid;
	border-color: #1050ff;
	border-width: 1px;
	border-radius: 2px;
	position:relative;
	top:12;
	//vertical-align: 2px;
	//font-size: small;
}
